*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-style: none;
    text-decoration: none;
    --primary:  #FF900E;
}
.head{
    width: 100%;
    height: 1400px;
    background: #fff4e7;
}
/* -------------------------
        common-property 
   -------------------------*/
.common-margin{
    margin-left: 240px;
    margin-right: 240px;
}
.common-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 0px 30px 0px;
    line-height: 1.3;
}
.common-button{
    margin: 30px 0px;
    width: 180px;
    height: 64px;
    background: var(--primary);
    color: white;
    border: 0px;
    border-radius:10px ;
    transition-property: scale ;
    transition-duration: 0.5s ;
    cursor: pointer;
}
.common-button:hover{
    scale: 1.1;
}
.common-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}


/* -------------------------
        navigation style 
   -------------------------*/
.logo{
    font-weight: 700;
    font-size: 45px;
}
.nav-bar{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-button{
    display: flex;
    gap:40px;
    list-style: none;
}

.nav-btn-title{
    font-style: none;
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 10px;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.2s ;
}
.nav-button li:hover{
    /* border-bottom: 2px solid var(--primary); */
    background: var(--primary);
    color: white;
    border-radius: 5px;
}
/* -------------------------
        Architects Section 
   -------------------------*/

.architects-title{
    margin-top: 100px;
    font-weight: 700;
    font-size: 64px;

}
.architects-brand-info{
    width: 862px;
    height: 225px;
    margin: auto;
    
}
.architects-img{
    margin-top: 100px;
    width: 1440px;
    height: 700px;
}
.Architects-container{
    text-align: center;
    align-items: center;
}
/* -------------------------
     feature section style 
   -------------------------*/

.features-container{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}
.features-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.info-container{
    width: 537px;
    height: 304px;
}
.feature-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.orange-features{
    font-weight: 700;
    font-size: 45px;
    color: var(--primary);
}
/* -----------------------------
    love & enjoy section style 
   ----------------------------*/
.love-enjoy-section{
    margin-top: 150px;
    display: flex;
    gap:50px;
    justify-content:space-around;
    
}

.main-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    display: block;
    border-left: 5px solid var(--primary);
    border-radius: 5px ;
    width: 468px;
    height: 106px;
    padding-left: 22px;

}
.love-enjoy-feature{
    width: 586px;
    height: 110px;
    padding: 30px 30px 30px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.love-enjoy-feature-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.love-enjoy-feature p{
    margin: 10px 0px 0px 0px;
}
.but-container{
    text-align: center;
    margin: -120px 0px 100px 70px;
    
}
.experience-button{
    width: 250px;
    height: 180px;
    background: var(--primary);
    border: none;
    border-radius: 20px;
    color: white;
    transition: 0.5s scale;
}
.experience-button:hover{
    scale: 1.2;
}
.exprience-bold{
    font-weight: 700;
    font-size: 50px;
}
/* -----------------------------
        Some Facts style 
   ----------------------------*/
.some-fact-buttons{
    margin-top: 100px;
    display: flex;
    gap:20px;
    justify-content: space-around;
    margin-bottom: 200px;
}
.fact-button{
    align-items: center;
    text-align: center;
    padding: 35px;
    border: 2px solid var(--primary);
    border-radius: 7px;
    
}
.fact-button:hover{
    background: rgba(255, 166, 0, 0.144);
}
.fact-button h3{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
/* -----------------------------
      Sponsors section style 
   ----------------------------*/
.sponsors-section{
    text-align: center;
    align-items: center;
}
.sponsore-ima{
    margin: 80px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* -----------------------------
      copyright section style 
   ----------------------------*/
.copyright-section{
    text-align: center;
    background-color: bisque;
    padding: 30px;
    border-radius: 10px;
    margin: 130px 240px 200px 240px;
}